.navbtn {
  padding: 0.75rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(51 65 85); /* slate-700 */
}

.navbtn.active {
  color: rgb(37 99 235); /* blue-600 */
  font-weight: 600;
}

* { -webkit-tap-highlight-color: transparent; }
